<section id="content" class="common afterloginpage">
    <div class="container">
        <div class="row">
            <div class="leftpart">
                <div class="social-icon">
                    <div class="innersocial">
                        <a href="" class="userlist"></a>
                        <a href="" class="fb"></a>
                        <a href="" class="tw"></a>
                    </div>
                </div>
                <div class="profilepart">
                    <div class="profile">
                        <div class="pic">
                            <img src="assets/images/user-pic2.png" alt="">
                        </div>
                        <div class="details">
                            <h3>{{myProfile.fullName}}</h3>

                            <p>City - {{myProfile.city}}</p>
                        </div>
                    </div>
                    <div class="myphotoes">
                        <h1>My Photoes</h1>

                        <div class="photo">
                            <div class="photobox">
                                <img src="assets/images/user-pic3.png" alt="">
                            </div>
                            <div class="photobox">
                                <img src="assets/images/user-pic4.png" alt="">
                            </div>
                            <div class="photobox">
                                <img src="assets/images/user-pic5.png" alt="">
                            </div>
                        </div>

                        <div class="incompletebox">
                            <a href="#">Upload new image</a>
                        </div>

                    </div>
                </div>
                <div class="aboutme">
                    <h1>About Me <a href="#"></a></h1>

                    <div class="aboutdetails">
                        <ul class="about">
                            <li>
                                <label>Country:</label>

                                <p>{{myProfile.country}}</p>
                            </li>
                            <li>
                                <label>Height:</label>

                                <p>{{myProfile.height}}</p>
                            </li>
                            <li>
                                <label>Month of Birth:</label>

                                <p>{{myProfile.birthday}}</p>
                            </li>
                            <li>
                                <label>Religion:</label>

                                <p>{{myProfile.religion}}</p>
                            </li>
                            <li>
                                <label>Language:</label>

                                <p>{{myProfile.motherTongue}}</p>
                            </li>
                            <li>
                                <label>Job:</label>

                                <p>{{myProfile.career}}</p>
                            </li>
                            <li>
                                <label>Salary:</label>

                                <p>{{myProfile.salary}}</p>
                            </li>
                        </ul>
                        <div class="incompletebox">
                            <a href="#">Your Profile is incomplete click here to complete</a>
                        </div>
                    </div>
                </div>
                <div class="premiumbox">
                    <p>Reach up to 10x more people by promoting your ad.</p>
                    <a href="#">Become a Premium Member</a>
                </div>
            </div>
            <div class="rightpart">
                <div class="accountbox">
                    <h3>Please fill this , it will improve your account</h3>

                    <form>
                        <input type="text" name="" value="" class="phold2" placeholder="College / University">
                        <button class="submit-btn">Submit</button>
                    </form>
                </div>
                <div class="acceptedbox">
                    <h3>Accepted List</h3>

                    <div class="acceptedlist">
                        <div class="accepteduser">
                            <img src="assets/images/user-pic3.png" alt="">
                            <span class="icon online"><img src="assets/images/online.png" alt=""></span>
                            <a href="" class="icon chat"><img src="assets/images/chat-icon.png" alt=""></a>
                            <a href="" class="icon videocall"><img src="assets/images/video-icon1.png" alt=""></a>
                        </div>
                        <div class="accepteduser">
                            <img src="assets/images/user-pic4.png" alt="">
                            <span class="icon online"><img src="assets/images/ofline.png" alt=""></span>
                            <a href="" class="icon chat"><img src="assets/images/chat-icon.png" alt=""></a>
                        </div>
                        <div class="accepteduser">
                            <img src="assets/images/user-pic5.png" alt="">
                            <span class="icon online"><img src="assets/images/ofline.png" alt=""></span>
                            <a href="" class="icon chat"><img src="assets/images/chat-icon.png" alt=""></a>
                        </div>
                        <div class="accepteduser">
                            <img src="assets/images/user-pic5.png" alt="">
                            <span class="icon online"><img src="assets/images/online.png" alt=""></span>
                            <a href="" class="icon chat"><img src="assets/images/chat-icon.png" alt=""></a>
                            <a href="" class="icon videocall"><img src="assets/images/video-icon1.png" alt=""></a>
                        </div>
                        <div class="accepteduser">
                            <img src="assets/images/user-pic6.png" alt="">
                            <span class="icon online"><img src="assets/images/ofline.png" alt=""></span>
                            <a href="" class="icon chat"><img src="assets/images/chat-icon.png" alt=""></a>
                        </div>
                        <div class="accepteduser">
                            <img src="assets/images/user-pic4.png" alt="">
                            <span class="icon online"><img src="assets/images/ofline.png" alt=""></span>
                            <a href="" class="icon chat"><img src="assets/images/chat-icon.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="acceptedbox matches">
                    <h3>Suggested Matches for you</h3>

                    <div class="acceptedlist">
                        <div class="accepteduser">
                            <img src="assets/images/default-bg.png" alt="">
                        </div>
                        <div class="accepteduser">
                            <img src="assets/images/default-bg.png" alt="">
                        </div>
                        <div class="accepteduser">
                            <img src="assets/images/default-bg.png" alt="">
                        </div>
                        <div class="accepteduser">
                            <img src="assets/images/default-bg.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
